* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.enquiry-container {
  max-width: 100%;
  max-height: 100vh;
}

.enquiry-header {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}

.enquiry-header-left {
  border-right: 1px solid grey;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding: 1px;
}

.enquiry-header-right {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
  gap: 10px;
}

.header-title {
  font-weight: 700;
  font-size: 20px;
}

.header-icons {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.enquiry-header-right {
  display: flex;
  align-items: center;
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-and-details {
  font-size: 30px;
  font-weight: 500;
}

.author {
  font-size: 14px;
}

.actions-btns {
  display: flex;
  justify-content: space-around;

}

.actions-btns>button {
  background-color: #00afef;
  border: none;
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
  width: 120px;
  height: 30px;
  font-size: 14px;
}

.delete {
  background-color: red !important;
  color: white;
}

.description {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description-details {
  font-size: 14px;
  margin-bottom: 20px;
}
 .staff-and-customer{
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 20px;
 }

 .staff-and-customer-header{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
 }

 .staff-and-customer-details{
  display: flex;
  gap: 10px;
 }
 .details{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
 }

.tag{
  font-weight: 700;
}
.value{
  font-weight: 400;
  font-size: 14px;
  max-width: 100%;
}
.follow-up{
  font-weight: 700;
}
.form-area{
  max-width: 60%;
  margin-bottom: 20px;
}
.form-group{
  display: flex;
}
.input{
  border-radius: 10px 0px 0px 10px !important;
}
.follow-up-btn{
  border-radius: 0px 10px 10px 0px !important;
  width: 100px;
}
.progress-and-message{
  display: flex;
  justify-content: space-between;
}
.message-box{
  width: 70%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.message-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 10px 10px 0px 0px ;
  border-bottom: 0;
  padding-bottom: 10px;
}
.header{
  width: 300px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
.message-body{
  display: flex;
  justify-content: space-between;
}
.message-body{
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px ;
}

.message-details{
  width: 300px;
  text-align: center;
}

.progress-tracker{
  width: 30%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px;
}
.tracking{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* justify-content: space-evenly; */
}
.tracker{
  text-align: center;
}
.current-progress{
  width: 200px;
  border: 1px solid;
  background-color: #00afef;
  color: white;
  font-weight: 400;
}
.date{
  font-size: 10px;
}

.modal-form{
  display: flex !important;
  justify-content: space-between;
}

.modal-footer{
  display: flex !important;
  justify-content: center !important;
}
.update-form{
  width: 300px;
}


.update-form-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-main{
  display: flex !important;
  align-items: center;
}